$background: #0F0E2B;
$altBackground: #020024;
$white: #ffffff;
$gray: #98A2B3;
$pink: #E92EFB;
$neonWhite: 4px 4px 50px rgba(255, 255, 255, 0.25);
$neonPurple: 0px 4px 50px 5px rgba(233, 46, 251, 0.25);
$neonPeach: 0px 4px 150px 5px rgba(68, 11, 212, 0.60);

.neonPurple{
    box-shadow: $neonPurple;
}
.neonWhite{
    box-shadow: $neonWhite;
}
.neonPeach{
    box-shadow: $neonPeach;
}